name: Train Model like artifact to wandb

on:
  push:
    branches:
      - main
    paths:
      - 'src/model/*'

jobs:
  train_model:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Update pip
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install wandb==0.16.3 scikit-learn==0.24.2 matplotlib --upgrade  # Actualizar wandb, scikit-learn y matplotlib

    - name: Show installed packages
      run: pip freeze

    - name: Set Matplotlib backend
      run: |
        echo "backend: agg" > src/model/matplotlibrc
        export MPLCONFIGDIR=$GITHUB_WORKSPACE/src/model

    - name: Login to WandB
      run: wandb login ${{ secrets.WANDB_API_KEY }}

    - name: Run train.py
      run: python src/model/train.py --IdExecution ${{ github.run_number }}
